
html{
	height:100%;
}

div{
	margin: 20px;
}

body{

	margin: o;
	font-family: 'inconsolata', monospace;
	background-image:  url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ec7d26b1-d557-47c1-a877-6050004d2fc2/dcz5lze-b324df03-1320-441f-ad38-cbffc44d1e00.jpg/v1/fill/w_1600,h_840,q_75,strp/league_of_legends___background_art_5_by_artursadlos_dcz5lze-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODQwIiwicGF0aCI6IlwvZlwvZWM3ZDI2YjEtZDU1Ny00N2MxLWE4NzctNjA1MDAwNGQyZmMyXC9kY3o1bHplLWIzMjRkZjAzLTEzMjAtNDQxZi1hZDM4LWNiZmZjNDRkMWUwMC5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.tYtG9nT5zcV51RAn2Puq9TmsV0GlfLeTJetp-xoJaXc);
	background-size: cover;
	background-repeat: no-repeat;
}



.left-col{
	background-color: #003170 ; 
	color:#fff;
	text-align: center;


}

.right-col{
	background-color: black ; 
	;
}

img{
width: 100%;
}


}

h1 {

	font-size:150px;
	font-weight: normal;

}

h4{
	font-size:30px;
	color:white;
	background-color: black;
	display:inline-block;
	margin:0;
	padding:4px;
	position: absolute;
	top:-20px;
	z-index:1;
}
footer {
	background-color: purple;
}
.works-img{
	position:relative;
	width:100%;
	max-width: 100%;
	position: relative;
    float: left;
    width:  450px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	

}

.social-icon{
	height: 60px;
	margin:10px 20px;

}

.social-icons-container{
	text-align: center;
}

.size{

	  margin: 0;
      padding: 0;
}


.imgbox {
            display: grid;
            height: 100%;
        }

.center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
.navigation li{

	display: inline-block;
	margin: 0 30 px;
	color:		#20c4bb;
}
.navigation {
	text-align: center;
}
nav {
	position:absolute;
	z-index: 1;
	text-align: center;
	left:0;
	right:0;
	
	font-size: 20px;
	color:white;
	background-color: white;
	display:inline-block;
	margin:0;
	padding:0px;
	top:-10px;
}


h1,h2,h3,h4,h5{
	font-family: 'Prata',serif;
}

.scroll{
	color: #2864b1;
	text-align: center;
	font-size: 30px;

}

header{

	background: black;
	text-align: center;
	position:relative;
	bottom: -33px;
	background-size: 100%;
}


header img{

	border-radius: 250px;ß
}

.pheader{
	color:white;
}
