.left-col{
	background-color: #003170 ; 
	max-width: 100%;

}

.right-col{
	background-color: black ; 
	max-width: 100%;
}

img{
	max-width: 100%;


}

footer {
	background-color: purple;
}

.social-icon{
	height: 60px;

}